html, body {
  -webkit-print-color-adjust: exact;
  margin: 0; }

/* Fonts */
@font-face {
  font-family: 'MaisonNeue-Bold';
  src: url("./src/assets/font/MaisonNeue-Bold.ttf"); }

@font-face {
  font-family: 'MaisonNeue-Book';
  src: url("./src/assets/font/MaisonNeue-Book.ttf"); }

@font-face {
  font-family: 'MaisonNeue-Medium';
  src: url("./src/assets/font/MaisonNeue-Medium.ttf"); }

@font-face {
  font-family: 'SharpGrotesk-Book20';
  src: url("./src/assets/font/SharpGrotesk-Book20.otf"); }

@font-face {
  font-family: 'SharpGrotesk-Medium15';
  src: url("./src/assets/font/SharpGrotesk-Medium15.otf"); }

@font-face {
  font-family: 'SharpGrotesk-Medium20';
  src: url("./src/assets/font/SharpGrotesk-Medium20.otf"); }

@font-face {
  font-family: 'SharpGrotesk-MediumItalic20';
  src: url("./src/assets/font/SharpGrotesk-MediumItalic20.otf"); }

.pagebreak {
  page-break-before: always;
  width: 100%;
  display: block; }

.h1 {
  font-family: "SharpGrotesk-Medium20", "times", "Lato", "Helvetica Neue", Arial, sans-serif;
  color: #031232;
  font-size: 21px;
  line-height: 33px;
  letter-spacing: .28px;
  display: block;
  width: 100%; }

.h2 {
  font-family: "SharpGrotesk-Medium20", "times", "Lato", "Helvetica Neue", Arial, sans-serif;
  font-size: 27.5px;
  line-height: 51px;
  letter-spacing: .36px;
  color: #031232;
  display: block;
  width: 100%; }

.front {
  font-family: "SharpGrotesk-Medium15", "times", "Lato", "Helvetica Neue", Arial, sans-serif;
  font-size: 2.3rem;
  line-height: 3.5rem;
  letter-spacing: .095rem;
  text-transform: uppercase;
  color: #404040;
  display: block;
  width: 100%; }

.h3 {
  font-family: "SharpGrotesk-Medium15", "times", "Lato", "Helvetica Neue", Arial, sans-serif;
  font-size: 28px;
  line-height: 56px;
  letter-spacing: .37px;
  text-transform: uppercase;
  color: #031232;
  display: block;
  width: 100%; }

.h4 {
  font-family: "SharpGrotesk-Medium20", "times", "Lato", "Helvetica Neue", Arial, sans-serif;
  font-size: 2.5rem;
  line-height: 3.7rem;
  letter-spacing: .033rem;
  color: #031232;
  display: block;
  width: 100%; }

.h5 {
  font-family: "SharpGrotesk-Medium15", "times", "Lato", "Helvetica Neue", Arial, sans-serif;
  font-size: 3.5rem;
  line-height: 4rem;
  letter-spacing: .046rem;
  text-transform: uppercase;
  color: #031232;
  display: block;
  width: 100%; }

.h6 {
  font-family: "SharpGrotesk-Medium20", "times", "Lato", "Helvetica Neue", Arial, sans-serif;
  font-size: 2.8rem;
  line-height: 4rem;
  letter-spacing: .043rem;
  color: #0090FF;
  display: block;
  width: 100%; }

.h7 {
  font-family: "SharpGrotesk-Medium20", "times", "Lato", "Helvetica Neue", Arial, sans-serif;
  font-size: 2.2rem;
  line-height: 3.3rem;
  letter-spacing: .144rem;
  color: #404040;
  display: block;
  width: 100%; }

.h8 {
  font-family: "SharpGrotesk-Medium15", "times", "Lato", "Helvetica Neue", Arial, sans-serif;
  font-size: 2.2rem;
  line-height: 3.3rem;
  letter-spacing: .144rem;
  text-transform: uppercase;
  font-weight: 200;
  color: #404040;
  display: block;
  width: 100%; }

a,
.url {
  font-family: "SharpGrotesk-Medium15", "times", "Lato", "Helvetica Neue", Arial, sans-serif;
  font-size: 1.6rem;
  line-height: 2.54rem;
  letter-spacing: .2rem;
  text-transform: uppercase;
  font-weight: 100;
  font-style: normal;
  color: #A9A9A9; }

body,
p {
  font-family: "MaisonNeue-Book", "Lato", "Helvetica Neue", Arial, sans-serif;
  font-size: 2.4rem;
  line-height: 3.6rem;
  letter-spacing: .031rem;
  color: #515151; }

p.body-front {
  font-family: "MaisonNeue-Book", "Lato", "Helvetica Neue", Arial, sans-serif;
  font-size: 2.7rem;
  line-height: 4rem;
  letter-spacing: .018rem;
  color: #031232; }

p.body-smaller {
  font-size: 2.3rem;
  line-height: 3.3rem;
  letter-spacing: .029rem; }

p.body-smallest {
  font-size: 1.9rem;
  line-height: 2.9rem;
  letter-spacing: .025rem; }

.front-top {
  height: 621px;
  width: 100%;
  background-color: #F9F9F9; }
