// Page dimensions at 2x:
// 816px W
// 1151px H
// Basically, a true 72x2=144dpi instead of 150 used by designers.

@import "./front-page-bg.scss";

html, body {
  // font-size: 62.5%;
  -webkit-print-color-adjust: exact;
  margin: 0;
}
/* Fonts */
@font-face {
  font-family: 'MaisonNeue-Bold';
  src: url('./src/assets/font/MaisonNeue-Bold.ttf');
}
@font-face {
  font-family: 'MaisonNeue-Book';
  src: url('./src/assets/font/MaisonNeue-Book.ttf');
}
@font-face {
  font-family: 'MaisonNeue-Medium';
  src: url('./src/assets/font/MaisonNeue-Medium.ttf');
}
@font-face {
  font-family: 'SharpGrotesk-Book20';
  src: url('./src/assets/font/SharpGrotesk-Book20.otf');
// test
}
@font-face {
  font-family: 'SharpGrotesk-Medium15';
  src: url('./src/assets/font/SharpGrotesk-Medium15.otf');
}
@font-face {
  font-family: 'SharpGrotesk-Medium20';
  src: url('./src/assets/font/SharpGrotesk-Medium20.otf');
}
@font-face {
  font-family: 'SharpGrotesk-MediumItalic20';
  src: url('./src/assets/font/SharpGrotesk-MediumItalic20.otf');
}


// Variables
// Maison Neue fonts
$maisonneue-bold: 'MaisonNeue-Bold', 'Lato', 'Helvetica Neue', Arial, sans-serif;
$maisonneue-book: 'MaisonNeue-Book', 'Lato', 'Helvetica Neue', Arial, sans-serif;
$maisonneue-med: 'MaisonNeue-Medium', 'Lato', 'Helvetica Neue', Arial, sans-serif;
// SharKGrotesk fonts
$sharpgrotesk-book-20: 'SharpGrotesk-Book20',  'Lato', 'Helvetica Neue', Arial, sans-serif;
$sharpgrotesk-med-15: 'SharpGrotesk-Medium15', 'times', 'Lato', 'Helvetica Neue', Arial, sans-serif;
$sharpgrotesk-med-20: 'SharpGrotesk-Medium20', 'times', 'Lato', 'Helvetica Neue', Arial, sans-serif;
$sharpgrotesk-med-ital-20: 'SharpGrotesk-MediumItalic20', 'Lato', 'Helvetica Neue', Arial, sans-serif;
// Colors
$primary-dark: #031232;
$secondary-blue: #0090FF;
$secondary-red: #FF003E;
$bg-white: #F9F9F9;
$secondary-gray: #515151;
$another-gray: #404040;
$yet-another-gray: #A9A9A9;
$yet-another-gray-gray: #F9F9F9;


.pagebreak {
  page-break-before: always;
  width: 100%;
  display: block;

}

.h1 {
  font-family: $sharpgrotesk-med-20;
  color: $primary-dark;
  font-size: 21px; //43px;
  line-height: 33px; // 6.6rem;
  letter-spacing: .28px; // .056rem;
  display: block;
  width: 100%;
  // color: purple !important;
}

.h2 {
  font-family: $sharpgrotesk-med-20;
  font-size: 27.5px; // 5.5rem;
  line-height: 51px; // 10.2rem;
  letter-spacing: .36px; // .072rem;
  color: $primary-dark;
  display: block;
  width: 100%;
}

.front {
  font-family: $sharpgrotesk-med-15;
  font-size: 11.5px; // 2.3rem;
  line-height: 17.5px; // 3.5rem;
  letter-spacing: 0.475px; // .095rem;
  text-transform: uppercase;
  color: $another-gray;
  display: block;
  width: 100%;
}

.h3 {
  font-family: $sharpgrotesk-med-15;
  font-size: 14px; // 28px;
  line-height: 28px; // 56px;
  letter-spacing: 0.185px; // .37px;
  text-transform: uppercase;
  color: $primary-dark;
  display: block;
  width: 100%;
}

.h4 {
  font-family: $sharpgrotesk-med-20;
  font-size: 25px;
  line-height: 37px;
  letter-spacing: .33px;
  color: $primary-dark;
  display: block;
  width: 100%;
}

.h5 {
  font-family: $sharpgrotesk-med-15;
  font-size: 17.5px; // 35px;
  line-height: 20px; // 40px;
  letter-spacing: .23px; // .46px;
  text-transform: uppercase;
  // font-weight: 200;
  color: $primary-dark;
  display: block;
  width: 100%;
}

.h6 {
  font-family: $sharpgrotesk-med-20;
  font-size: 14px; // 28px;
  line-height: 20px; // 40px;
  letter-spacing: 0.215px; // .43px;
  color: $secondary-blue;
  display: block;
  width: 100%;
}

.h7 {
  font-family: $sharpgrotesk-med-20;
  font-size: 22px;
  line-height: 3.3rem;
  letter-spacing: .144rem;
  color: $another-gray;
  display: block;
  width: 100%;
}

.h8 {
  font-family: $sharpgrotesk-med-15;
  font-size: 11px; // 22px;
  line-height: 16.5px; // 33px;
  letter-spacing: 0.72px; // 1.44px;
  text-transform: uppercase;
  font-weight: 200;
  color: $another-gray;
  display: block;
  width: 100%;
}

a,
.url {
  font-family: $sharpgrotesk-med-15;
  font-size: 16px;
  line-height: 25.4px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 100;
  font-style: normal;
  color: $yet-another-gray;
}

body,
p {
  font-family: $maisonneue-book;
  font-size: 12px; // 24px;
  line-height: 13px; // 36px;
  letter-spacing: 0.155px; // .31px;
  color: $secondary-gray;
}

// Slightly larger darker body text for front page.
p.body-front {
  font-family: $maisonneue-book;
  font-size: 14px; // 27px;
  line-height: 20px; // 40px;
  letter-spacing: .09px; // .18px;
  color: $primary-dark;
}

p.body-smaller {
  font-size: 11.5px; // 23px;
  line-height: 16.5px; // 33px;
  letter-spacing: 0.145px; // .29px;
}

p.body-smallest {
  font-size: 9.5px; // 19px;
  line-height: 14.5px; // 29px;
  letter-spacing: 0.125px; // .25px;
}

// Front page
.front-top {
  height: 621px;
  width: 100%;
  background-color: $yet-another-gray-gray;
  background-image: $front-page-bg;
  background-position: center center;
  background-size: 68% auto; // 439px 318.5px; // 878px 637px;
  background-repeat: no-repeat;
}
// End front page
