// Page dimensions at 2x:
// 816px W
// 1056px H
// Basically, 96dpi instead of 150 used by designers.
// It makes no difference how you set the puppeteer dimensions externally.

@import "./front-page-bg.scss";
// @import "./logo-sm.scss";
// @import "./new-logo-sm.scss";
@import "./new-logo-sm-2x.scss";
@import "./new-thicker-logo.scss";
@import "./about-the-data-bg.scss";
@import "./icon-average.scss";
@import "./icon-growth.scss";
@import "./icon-changes.scss";
@import "./about-chart-bg.scss";
@import "./bar-graph-line-bg.scss";
@import "./bar-graph-vert-bg.scss";
// @import "./chart-avg-bg.scss";
// @import "./chart-grd-bg.scss";
// @import "./chart-coh-bg.scss";
@import "./dot-avg.scss";
@import "./dot-grd.scss";
@import "./dot-coh.scss";
@import "./dot.scss";
@import "./chart-overlay.scss";
@import "./counties-avg.scss";
@import "./counties-grd.scss";
@import "./counties-coh.scss";
@import "./districts-avg.scss";
@import "./districts-grd.scss";
@import "./districts-coh.scss";
@import "./schools-avg.scss";
@import "./schools-grd.scss";
@import "./schools-coh.scss";
@import "./fonts.scss";


html, body {
  // font-size: 64%; // 62.5%;
  -webkit-print-color-adjust: exact;
  margin: 0;
  padding: 0;
}


// Variables
// Vertical size ratio for placement and font sizing
$vertical-ratio: 0.64;
$horizontal-ratio: 0.64;
// Maison Neue fonts
$maisonneue-bold: 'MaisonNeue-Bold', 'Lato', 'Helvetica Neue', Arial, sans-serif;
$maisonneue-book: 'MaisonNeue-Book', 'Lato', 'Helvetica Neue', Arial, sans-serif;
// SharKGrotesk fonts
$sharpgrotesk-book-20: sgb20, 'SharpGrotesk-Book20', 'Lato', 'Helvetica Neue', Arial, sans-serif;
$sharpgrotesk-med-15: sgm15, 'SharpGrotesk-Medium15', 'Lato', 'Helvetica Neue', Arial, sans-serif;
$sharpgrotesk-med-20: sgm20, 'SharpGrotesk-Medium20', 'Lato', 'Helvetica Neue', Arial, sans-serif;
// Colors
$primary-dark: #031232;
$secondary-blue: #0090FF;
$teriary-blue: #28a0fc;
$secondary-red: #FF003E;
$bg-white: #F9F9F9;
$secondary-gray: #515151;
$another-gray: #404040;
$yet-another-gray: #A9A9A9;
$yet-another-gray-gray: #F9F9F9;
$yet-another-gray-gray-gray: #ACACAC;
$bar-chart-guide-line-gray: #D8D8D8;
$bar-chart-green: #65C58D;


.pagebreak {
  page-break-before: always;
  width: 100%;
  display: block;
}

.h1 {
  font-family: $sharpgrotesk-med-20;
  color: $primary-dark;
  font-size: calc(43px * #{$vertical-ratio}); // 21px; //43px;
  line-height: calc(66px * #{$vertical-ratio}); // 33px; // 6.6rem;
  letter-spacing: calc(0.56 * #{$vertical-ratio}); // .056rem;
  display: block;
  width: 100%;
  // color: purple !important;
}

.h2 {
  font-family: $sharpgrotesk-med-20;
  font-size: calc(55px * #{$vertical-ratio});
  line-height: calc(102px * #{$vertical-ratio});
  letter-spacing: calc(0.72px * #{$vertical-ratio});
  color: $primary-dark;
  display: block;
  width: 100%;
}

.front {
  font-family: $sharpgrotesk-med-15;
  font-size: calc(23px * #{$vertical-ratio});
  line-height: calc(35px * #{$vertical-ratio});
  letter-spacing: calc(0.95px * #{$vertical-ratio});
  text-transform: uppercase;
  color: $another-gray;
  display: block;
  width: 100%;
}

.h3 {
  font-family: $sharpgrotesk-med-15;
  font-size: calc(28px * #{$vertical-ratio});
  line-height: calc(56px * #{$vertical-ratio});
  letter-spacing: calc(0.37px * #{$vertical-ratio});
  text-transform: uppercase;
  color: $primary-dark;
  display: block;
  width: 100%;
}

.h4 {
  font-family: $sharpgrotesk-med-20;
  font-size: calc(25px * #{$vertical-ratio});
  line-height: calc(37px * #{$vertical-ratio});
  letter-spacing: calc(0.33px * #{$vertical-ratio});
  color: $primary-dark;
  display: block;
  width: 100%;
}

.h5 {
  font-family: $sharpgrotesk-med-15;
  font-size: calc(35px * #{$vertical-ratio});
  line-height: calc(40px * #{$vertical-ratio});
  letter-spacing: calc(0.46px * #{$vertical-ratio});
  text-transform: uppercase;
  // font-weight: 200;
  color: $primary-dark;
  display: block;
  width: 100%;
}

.h6 {
  font-family: $sharpgrotesk-med-20;
  font-size: calc(28px * #{$vertical-ratio});
  line-height: calc(40px * #{$vertical-ratio});
  letter-spacing: calc(0.43px * #{$vertical-ratio});
  color: $secondary-blue;
  display: block;
  width: 100%;
}

.h7 {
  font-family: $sharpgrotesk-med-20;
  font-size: calc(22px * #{$vertical-ratio});
  line-height: calc(33px * #{$vertical-ratio});
  letter-spacing: calc(1.44px * #{$vertical-ratio});
  color: $another-gray;
  display: block;
  width: 100%;
}

.h8 {
  font-family: $sharpgrotesk-med-15;
  font-size: calc(22px * #{$vertical-ratio});
  line-height: calc(33px * #{$vertical-ratio});
  letter-spacing: calc(1.44px * #{$vertical-ratio});
  text-transform: uppercase;
  font-weight: 200;
  color: $another-gray;
  display: block;
  width: 100%;
}

// a,
.url {
  font-family: $sharpgrotesk-med-15;
  font-size: calc(16px * #{$vertical-ratio});
  line-height: calc(25.4px * #{$vertical-ratio});
  letter-spacing: calc(2px * #{$vertical-ratio});
  text-transform: uppercase;
  text-decoration: none !important;
  font-weight: 100;
  font-style: normal;
  color: $yet-another-gray;
}

.another-url-class-not-in-style-guide {
  font-family: $sharpgrotesk-med-15;
  font-size: calc(23px * #{$vertical-ratio});
  line-height: calc(35px * #{$vertical-ratio});
  // letter-spacing: calc(0.72px * #{$vertical-ratio});
  text-transform: uppercase;
  font-weight: 100;
  font-style: normal;
  color: $another-gray !important;
}

body,
p {
  font-family: $maisonneue-book;
  font-size: calc(24px * #{$vertical-ratio});
  line-height: calc(36px * #{$vertical-ratio});
  letter-spacing: calc(0.31px * #{$vertical-ratio});
  color: $secondary-gray;
}

// Slightly larger darker body text for front page.
.body-front {
  font-family: $maisonneue-book;
  font-size: calc(27px * #{$vertical-ratio});
  line-height: calc(40px * #{$vertical-ratio});
  letter-spacing: calc(0.18px * #{$vertical-ratio});
  color: $primary-dark;
}

.body-smaller {
  font-size: calc(22px * #{$vertical-ratio});
  line-height: calc(33px * #{$vertical-ratio});
  letter-spacing: calc(0.29px * #{$vertical-ratio});
}

.body-smallest {
  font-size: calc(19px * #{$vertical-ratio});
  line-height: calc(29px * #{$vertical-ratio});
  letter-spacing: calc(0.25px * #{$vertical-ratio});
}

// #page_3 {
//   background-color: green;
//   height: 1146px;
//   display: block;
//   width: 100%;
// }

.page {
  height: 1056px; // 1650px; // 1146px;
  display: block;
  width: 816px; // 100%; // 1275px; // 100%; // 1275px; // 600px; // 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

// For use as header or footer in various contexts
// .header,
// .footer {
//   width: 100%;
//   // background-color: blue;
//   .wrapper {
//     position: relative;
//     height: calc(55px * #{$vertical-ratio});
//     margin-right: 45px; // calc(45px * #{$vertical-ratio});
//     margin-left: 45px; // calc(45px * #{$vertical-ratio});
//     .logo {
//       position: absolute;
//       top: 0;
//       left: 0;
//       display: inline-block;
//       background-image: $new-logo-sm-2x; // $logo-sm;
//       background-repeat: no-repeat;
//       background-size: calc(55px * #{$vertical-ratio}) calc(53px * #{$vertical-ratio}); // 49px 51px;
//       height: calc(55px * #{$vertical-ratio});
//       width: calc(53px * #{$horizontal-ratio});
//     }
//     a {
//       // background-color: red;
//       position: absolute;
//       height: calc(55px * #{$vertical-ratio});
//       top: 0;
//       right: 0;
//     }
//   }
// }
//
// .footer {
//   .wrapper {
//     a {
//       padding-top: 24px;
//     }
//   }
// }
//
// .header {
//   padding-top: 45px;
// }

.header,
.footer {
  width: 100%;
  // background-color: blue;
  height: calc(36px * #{$vertical-ratio});
  .wrapper {
    // background-color: red;
    position: relative;
    height: calc(36px * #{$vertical-ratio});
    margin-right: calc(51px * #{$horizontal-ratio});
    margin-left: calc(51px * #{$horizontal-ratio});
    padding: 2px;
    .logo {
      position: absolute;
      top: 0;
      left: 0;
      display: inline-block;
      background-image: $new-thicker-logo; //$new-logo-sm-2x;
      background-repeat: no-repeat;
      background-size: calc(31px * #{$vertical-ratio}) calc(33px * #{$vertical-ratio});
      width: calc(31px * #{$horizontal-ratio});
      height: calc(33px * #{$horizontal-ratio});
    }
    a {
      // background-color: red;
      position: absolute;
      height: calc(55px * #{$vertical-ratio});
      top: 0;
      right: 0;
    }
  }
}

.footer {
  // background: red;
  padding-top: 20px;
  .wrapper {
    a {
      padding-top: calc(18px * #{$vertical-ratio});
    }
    .logo {
      top: auto;
      bottom: 0;
      left: 0;
    }
  }
}

.header {
  // padding-top: calc(50px * #{$vertical-ratio});
  padding-top: calc(50px * #{$vertical-ratio});
}

.logo-sm {
  background-image: $new-thicker-logo; // $new-logo-sm-2x; // $new-logo-sm; // $logo-sm;
  background-repeat: no-repeat;
  background-size: calc(74px * #{$vertical-ratio}) calc(79px * #{$vertical-ratio}); // 49px 51px;
  width: calc(76px * #{$vertical-ratio}); // 49px; // 76px;
  height: calc(79px * #{$vertical-ratio}); // 51px; // 79px;
  display: block;
}

// Front page
.front-top {
  height: calc( 890px * #{$vertical-ratio});// 569px; // 621px;
  width: 100%;
  background-color: $yet-another-gray-gray;
  background-image: $front-page-bg;
  background-position: center center;
  background-size: 68% auto; // 439px 318.5px; // 878px 637px;
  background-repeat: no-repeat;
}


.front-bottom {
  // background-color: red;
  position: relative;
  height: calc( 762px * #{$vertical-ratio}); // 500px; // 487px;
  width: 100%;

  &>div,
  &>span,
  &>hr {
    position: absolute;
    left: calc(109px * #{$horizontal-ratio}); // 70px;
  }

  .logo-sm {
    top: calc((996px - 888px) * #{$vertical-ratio}); // 70px;
  }
  .title {
    top: calc((1119px - 888px) * #{$vertical-ratio}); // 147px;
  }
  .short-hr {
    top: calc((1273px - 888px) * #{$vertical-ratio}); // 248px;
    height: 1.27px;
    width: 30px; // 1.98px;
    background: $primary-dark;
    border: 0;
  }
  .about {
    top: calc((1330px - 888px) * #{$vertical-ratio}); // 284px;
  }
  .date {
    top: calc((1440px - 888px) * #{$vertical-ratio}); // 35px;
    text-transform: uppercase;
  }
  .version {
    top: calc((1482px - 888px) * #{$vertical-ratio}); // 380px;
    text-transform: uppercase;
  }
  .infolink {
    top: calc((1524px - 888px) * #{$vertical-ratio}); // 407px;
    text-transform: uppercase;
    a {
      font-family: $sharpgrotesk-med-15;
      font-size: calc(23px * #{$vertical-ratio});
      line-height: calc(35px * #{$vertical-ratio});
      // letter-spacing: calc(0.72px * #{$vertical-ratio});
      text-transform: uppercase;
      text-decoration: none;
      font-weight: 100;
      font-style: normal;
      color: $another-gray !important;
    }
  }
}
// End front page

// Page 2
#page_2 {
  background-image: $about-the-data-bg;
  background-repeat: no-repeat;
  background-size: 100% calc(1045px * #{$vertical-ratio});
  background-position: center 30%;
  position: relative;
  .content-wrapper {
    position: absolute;
    width: 100%;
    bottom: calc(70px * #{$horizontal-ratio});
    .content {
      width: calc(671px * #{$horizontal-ratio});
      margin-left: auto;
      margin-right: auto;
    }
  }
}
// Page 2 end

// Page 3
@mixin another-header-style-not-in-style-guide {
  font-family: $sharpgrotesk-med-20;
  font-size: calc(28.5px * #{$vertical-ratio});
  line-height: calc(42.77px * #{$vertical-ratio});
  letter-spacing: calc(0.37px * #{$vertical-ratio});
  color: $primary-dark;
  display: block;
  width: 100%;
}

@mixin update-metric-headers {
  font-family: $sharpgrotesk-med-20;
  font-size: calc(32px * #{$vertical-ratio});
  line-height: calc(48px * #{$vertical-ratio});
  letter-spacing: calc(0.42px * #{$vertical-ratio});
  text-transform: none;
  // color: $primary-dark;
  // display: block;
  // width: 100%;
}

@mixin update-placename {
  font-family: $sharpgrotesk-med-20;
  font-size: calc(24px * #{$vertical-ratio});
  line-height: calc(36px * #{$vertical-ratio});
  letter-spacing: calc(0.37px * #{$vertical-ratio});
  text-transform: none;
}

#page_3 {
  .content-wrapper {
    // background-color: blue;
    width: calc(859px * #{$horizontal-ratio});
    margin-top: calc(80px * #{$vertical-ratio}); // calc((138px - 101px) * #{$vertical-ratio});
    margin-left: auto;
    margin-right: auto;
    position: relative;
    .content {
      // background-color: blue;
      width: 100%;
      .h2 {
        @include another-header-style-not-in-style-guide;
        margin-bottom: calc(40px * #{$vertical-ratio}); // calc((270px - 211px) * #{$vertical-ratio});
        width: calc(598px * #{$horizontal-ratio});
        text-align: center;
        margin-left: auto;
        margin-right: auto;
      }
      .box {
        background-color: #F9F9F9;
        padding: calc((314px - 270px) * #{$vertical-ratio});
        // padding-right: calc((314px - 270px) * #{$horizontal-ratio});
        // padding-left: calc((314px - 270px) * #{$horizontal-ratio});
        margin-bottom: calc(35px * #{$vertical-ratio}); // calc((687px - 639px) * #{$vertical-ratio});
        .head {
          height: calc(59.94px * #{$horizontal-ratio});
          // border: 1px solid black;
          padding: 0 0 calc((400px - 374px) * #{$horizontal-ratio});
          margin: 0;
          display: flex;
          .title {
            width: auto;
            // border: 1px solid black;
            padding: 5px 0 0 calc((331px - 313px) * #{$horizontal-ratio});
            margin: 0;
            @include update-metric-headers;
          }
          .icon {
            width: calc(59.98px * #{$horizontal-ratio});
            height: calc(59.94px * #{$horizontal-ratio});
            background-repeat: no-repeat;
            background-size: calc(60px * #{$horizontal-ratio}) calc(60px * #{$horizontal-ratio});
            background-position: center;
            &.average {
              background-image: $icon-average;
            }
            &.growth {
              background-image: $icon-growth;
            }
            &.changes {
              background-image: $icon-changes;
            }
          }
        }
        .h4 {
          font-size: calc(23px * #{$vertical-ratio});
          line-height: calc(35px * #{$vertical-ratio});
          letter-spacing: calc(.31px * #{$vertical-ratio});
        }
      }
    }
  }
}
// Page 3 end
// Page 4 start
#page_4,
#page_6,
#page_8 {
  .chart {
    height: calc(839px * #{$vertical-ratio});
    display: flex;
    justify-content: center;
    align-items: center;
    .background {
      background-color: #EFEFEF;
      height: calc(624px * #{$vertical-ratio});
      width: calc(1017px * #{$horizontal-ratio});
      margin-top: calc(72px * #{$vertical-ratio});
      position: relative;
      .overlay {
        // background-color: rgba(0, 119, 204, 0.25);
        position: absolute;
        top: 12.820512820512821%;
        left: 2.359882005899705%;
        bottom: 14.102564102564103%;
        right: 14.159292%;
        // width: 548px;
        // height: 289px;
        .overlay-child {
          position: relative;
          // width: 100%;
          display: block;
          // background-color: rgba(0, 119, 204, 0.25);
          width: 543px;
          height: 292px;
          // height: 100%;
          .dot {
            display: block;
            position: absolute;
            width: 10px;
            height: 10px;
            .dot-icon {
              display: block;
              width: 10px;
              height: 10px;
              background-color: #F46800; // $dot;
              border: 1px solid #AB4900;
              border-radius: 50%;
              margin-top: -50%;
              margin-left: -50%;
              // background-size: 100% 100%;
              // background-position: 0 0;
              // background-repeat: no-repeat;
              overflow: visible;
            }
            .dot-label {
              width: 136px;
              display: inline-block;
              white-space: nowrap;
              margin-top: 5px;
              margin-left: -78px;
              border-radius: 1.5px;
              padding: 5px 6px;
              background-color: $primary-dark;
              opacity: 0.8;
              color: #fff;
              font-family: $maisonneue-bold; // $sharpgrotesk-med-20;
              font-size: calc(14px * #{$vertical-ratio});
              line-height: calc(17px * #{$vertical-ratio});
              letter-spacing: calc(0.37px * #{$vertical-ratio});
              text-transform: none;
            }
          }
        }
      }
    }
  }
  .text {
    height: calc((1535px - 839px) * #{$vertical-ratio});
    .parent {
      width: calc(1017px * #{$horizontal-ratio});
      margin-left: auto;
      margin-right: auto;
      .head {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        .icon {
          flex: 0 0 auto;
          width: calc(59.98px * #{$horizontal-ratio});
          height: calc(59.94px * #{$horizontal-ratio});
          background-repeat: no-repeat;
          background-size: calc(60px * #{$horizontal-ratio}) calc(60px * #{$horizontal-ratio});
          background-position: center;
          &.average {
            background-image: $icon-average;
          }
          &.growth {
            background-image: $icon-growth;
          }
          &.changes {
            background-image: $icon-changes;
          }
        }
        .header {
          flex: 0 1 auto;
          padding-top: calc(2px * #{$vertical-ratio});
          padding-left: calc(25px * #{$horizontal-ratio});
          height: calc((940px - 839px) * #{$vertical-ratio});
          .title {
            @include update-metric-headers;
            line-height: calc(34px * #{$vertical-ratio});
          }
          .placename {
            @include update-placename;
            padding-top: 0; // calc(10px * #{$vertical-ratio});
          }
        }
      }
      p.body-smaller {
        width: calc(830px * #{$horizontal-ratio});
      }
    }
  }
}
// Page 4 end
// County backgrounds
body.location-type-county {
  #page_4 {
    .chart {
      .background {
        background:  $counties-avg; // $chart-overlay; //
        background-size: calc(1017px * #{$horizontal-ratio}) calc(624px * #{$vertical-ratio});
        background-position: 0 0;
        background-repeat: no-repeat;
        // .dot {
        //   background: $dot-avg;
        //   background-size: 100% 100%;
        //   background-position: 0 0;
        //   background-repeat: no-repeat;
        // }
      }
    }
  }
  #page_6 {
    .chart {
      .background {
        background: $counties-grd; // $chart-overlay;
        background-size: calc(1017px * #{$horizontal-ratio}) calc(624px * #{$vertical-ratio});
        background-position: 0 0;
        background-repeat: no-repeat;
        // .dot {
        //   background: $dot-grd;
        //   background-size: 100% 100%;
        //   background-position: 0 0;
        //   background-repeat: no-repeat;
        // }
      }
    }
  }
  #page_8 {
    .chart {
      .background {
        background: $counties-coh;
        background-size: calc(1017px * #{$horizontal-ratio}) calc(624px * #{$vertical-ratio});
        background-position: 0 0;
        background-repeat: no-repeat;
        // .dot {
        //   background: $dot-coh;
        //   background-size: 100% 100%;
        //   background-position: 0 0;
        //   background-repeat: no-repeat;
        // }
      }
    }
  }
}
// District backgrounds
body.location-type-district {
  #page_4 {
    .chart {
      .background {
        background: $districts-avg; // $chart-overlay;
        background-size: calc(1017px * #{$horizontal-ratio}) calc(624px * #{$vertical-ratio});
        background-position: 0 0;
        background-repeat: no-repeat;
      }
    }
  }
  #page_6 {
    .chart {
      .background {
        background: $districts-grd; // $chart-overlay;
        background-size: calc(1017px * #{$horizontal-ratio}) calc(624px * #{$vertical-ratio});
        background-position: 0 0;
        background-repeat: no-repeat;
        // .dot {
        //   background: $dot-grd;
        //   background-size: 100% 100%;
        //   background-position: 0 0;
        //   background-repeat: no-repeat;
        // }
      }
    }
  }
  #page_8 {
    .chart {
      .background {
        background: $districts-coh; // $chart-overlay;
        background-size: calc(1017px * #{$horizontal-ratio}) calc(624px * #{$vertical-ratio});
        background-position: 0 0;
        background-repeat: no-repeat;
        // .dot {
        //   background: $dot-coh;
        //   background-size: 100% 100%;
        //   background-position: 0 0;
        //   background-repeat: no-repeat;
        // }
      }
    }
  }
}
// School backgrounds
body.location-type-school {
  #page_4 {
    .chart {
      .background {
        background: $schools-avg; // $chart-overlay;
        background-size: calc(1017px * #{$horizontal-ratio}) calc(624px * #{$vertical-ratio});
        background-position: 0 0;
        background-repeat: no-repeat;
      }
    }
  }
  #page_6 {
    .chart {
      .background {
        background: $schools-grd; // $chart-overlay;
        background-size: calc(1017px * #{$horizontal-ratio}) calc(624px * #{$vertical-ratio});
        background-position: 0 0;
        background-repeat: no-repeat;
        // .dot {
        //   background: $dot-grd;
        //   background-size: 100% 100%;
        //   background-position: 0 0;
        //   background-repeat: no-repeat;
        // }
      }
    }
  }
  #page_8 {
    .chart {
      .background {
        background: $schools-coh; // $chart-overlay;
        background-size: calc(1017px * #{$horizontal-ratio}) calc(624px * #{$vertical-ratio});
        background-position: 0 0;
        background-repeat: no-repeat;
        // .dot {
        //   background: $dot-coh;
        //   background-size: 100% 100%;
        //   background-position: 0 0;
        //   background-repeat: no-repeat;
        // }
      }
    }
  }
}
// Page 5 start
#page_5,
#page_7,
#page_9 {
  .text {
    display: block;
    width: calc(900px * #{$horizontal-ratio});
    height: calc((214px - 140px) * #{$vertical-ratio});
    margin-left: calc(112px * #{$horizontal-ratio});
    margin-right: auto;
    .head {
      padding-top: calc(50px * #{$vertical-ratio});
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      .icon {
        flex: 0 0 auto;
        width: calc(74px * #{$horizontal-ratio});
        height: calc(74px * #{$horizontal-ratio});
        background-repeat: no-repeat;
        background-size: calc(74px * #{$horizontal-ratio}) calc(74px * #{$horizontal-ratio});
        background-position: center;
        &.average {
          background-image: $icon-average;
        }
        &.growth {
          background-image: $icon-growth;
        }
        &.changes {
          background-image: $icon-changes;
        }
      }
      .header {
        flex: 0 1 auto;
        padding-top: calc(5px * #{$vertical-ratio});
        padding-left: calc(25px * #{$horizontal-ratio});
        font-family: $sharpgrotesk-med-20;
        font-size: calc(34px * #{$vertical-ratio});
        line-height: calc(45px * #{$vertical-ratio});
        letter-spacing: calc(0.44px * #{$vertical-ratio});
        .title {
          @include update-metric-headers;
          line-height: calc(34px * #{$vertical-ratio});
        }
        .placename {
          font-size: calc(24px * #{$vertical-ratio});
          line-height: calc(36px * #{$vertical-ratio});
          letter-spacing: calc(0.37px * #{$vertical-ratio});
        }
      }
    }
  }
  .bars {
    // background-color: $bg-white;
    width: 100%; // calc(1005px * #{$horizontal-ratio});
    // height: calc(1005px * #{$vertical-ratio});
    p.body-smaller {
      width: calc(830px * #{$horizontal-ratio});
    }
    .demographic-parent {
      margin-left: calc(112px * #{$horizontal-ratio});
      margin-right: calc(112px * #{$horizontal-ratio});
      height: calc(820px * #{$vertical-ratio}); // calc((1020px - 280px) * #{$vertical-ratio});
      padding-top: calc(50px * #{$vertical-ratio});
    }
    .gaps-parent {
      width: 100%;
      height: calc(618px * #{$vertical-ratio});
      background-color: $bg-white;
      bottom: 0;
      .gaps {
        margin-left: calc(112px * #{$horizontal-ratio});
      }
    }
    .demographic-parent,
    .gaps-parent {
      .h7 {
        padding-top: calc(60px * #{$vertical-ratio});
        letter-spacing: calc(1.24px * #{$vertical-ratio});
        font-size: calc(24px * #{$vertical-ratio});
        color: $primary-dark;
      }
      tr > td {
        padding-top: calc(26px * #{$vertical-ratio});
        padding-bottom: calc(36px * #{$vertical-ratio});
        // height: calc(26px * #{$vertical-ratio});
      }
      td:nth-child(1),
      td:nth-child(3) {
        /* first column and 3rd column */
        width: calc(165px * #{$horizontal-ratio});
        // background-color: green;
      }
      td:nth-child(2),
      td:nth-child(4) {
        /* second column and 4th column */
        width: calc(312px * #{$horizontal-ratio});
        height: calc(26px * #{$vertical-ratio});
        padding-top: calc(20px * #{$vertical-ratio});
        // background-color: blue;
      }
      td:nth-child(3) {
        padding-left: calc(50px * #{$horizontal-ratio});
      }
      td {
        vertical-align: text-top;
        &.label {
          font-family: $sharpgrotesk-med-15;
          font-size: calc(22px * #{$vertical-ratio});
          line-height: calc(22px * #{$vertical-ratio});
          letter-spacing: calc(1.8px * #{$horizontal-ratio});
          color: $another-gray;
          // padding-top: 10px;
        }
        &.bar-parent {
          position: relative;
          .num {
            font-family: $sharpgrotesk-med-15;
            font-size: calc(22px * #{$vertical-ratio});
            line-height: calc(33px * #{$vertical-ratio});
            letter-spacing: calc(1.44px * #{$horizontal-ratio});
            color: $yet-another-gray-gray-gray;
          }
          .overlay {
            display: flex;
            // background: red;
            position: absolute;
            top: 10px;
            left: 0;
            width: 100%;
            height: auto;
            .neg,
            .pos {
              flex: 1 0 50%;
            }
            .divider {
              flex: 0 0 1px;
              background-image: $bar-graph-vert-bg;
              background-size: 1px 100%;
              background-position: center 0;
              background-repeat: no-repeat;
            }
            .num {
              color: $secondary-gray;
              margin-top: calc(4px * #{$vertical-ratio});
            }
            .bar {
              background-color: $bar-chart-green;
              height: calc(16px * #{$vertical-ratio});
              margin-top: calc(10px * #{$vertical-ratio});
              // width: 30px;
              // px == width at which we hide the max or min
              // 64px == the max width
            }
            .neg {
              display: flex;
              justify-content: flex-end;
              align-items: stretch;
              .num {
                padding-right: calc(4px * #{$horizontal-ratio});
              }
              .bar {
                background-color: $teriary-blue; // $bar-chart-green;
              }
            }
            .pos {
              display: flex;
              justify-content: flex-start;
              align-items: flex-start;
              .num {
                padding-left: calc(4px * #{$horizontal-ratio});
              }
            }
          }
          .underlay {
            width: 100%;
            height: auto;
            display: flex;
            position: absolute;
            top: 10px;
            left: 0;
            .line {
              flex: 1 0 auto;
              display: block;
              // background-color: red;
              height: auto;
              background-image: $bar-graph-line-bg;
              background-size: 100% 0.5px;
              background-position: 0 center;
              background-repeat: no-repeat;
            }
            .num {
              flex: 0 0 auto;
              display: block;
              height: 100%;
              margin-top: calc(4px * #{$vertical-ratio});
              &.pos {
                padding-left: calc(3px * #{$horizontal-ratio});
              }
              &.neg {
                padding-right: calc(3px * #{$horizontal-ratio});
              }
            }
          }
        }
      }
    }
    // .gaps-parent label {
    //   vertical-align: top;
    //   // vertical-align: super;
    //   // margin-top: -20px;
    // }
  }
}
// Page 10
#page_10 {
  // background-color: red;
  // margin: 0;
  // padding: 0;
  background-image: $about-chart-bg;
  background-repeat: no-repeat;
  background-size: 100% calc(857px * #{$vertical-ratio});
  background-position: center bottom;
  position: relative;
  .parent {
    position: absolute;
    width: calc(632px * #{$vertical-ratio});
    left: calc(302px * #{$horizontal-ratio});
    top: calc(200px * #{$vertical-ratio});
    .h2 {
      // padding-bottom: calc(40px * #{$vertical-ratio});
    }
    p {
      display: block;
      padding-bottom: calc(60px * #{$vertical-ratio});
    }
    a.button {
      margin-top: calc(40px * #{$vertical-ratio});
      color: #fff;
      background-color: $secondary-red;
      height: calc(96px * #{$vertical-ratio});
      text-decoration: none;
      text-transform: uppercase;
      font-family: Helvetica;
      font-weight: bold;
      font-size: calc(28px * #{$vertical-ratio});
      line-height: calc(34px * #{$vertical-ratio});
      letter-spacing: calc(1.28px * #{$vertical-ratio});
      padding: calc((514px - 477px) * #{$vertical-ratio});
      border-radius: calc(2px * #{$vertical-ratio});
    }
  }
}
// Page 10 end
